
@define-color backgrounddark rgba(35,35,51,1);

@define-color textcolor1 #bac2de;

* {
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
}

window#waybar {
  background-color: rgba(90, 90, 90, 0);
  border-radius: 0;
}

#workspaces {
  font-weight: 900;
  margin: 1px 30px;
  padding: 0px 1px;
  color: #89b4fa;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px 5px;
  margin: 2px 3px;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682); 
  animation: gradient_f 20s ease-in infinite;
  color: #89b4fa;
}

#workspaces button.active {
  background: @backgrounddark;
  min-width: 25px;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  animation: gradient_f 20s ease-in infinite;
  color: #89b4fa;
}

#workspaces button:hover {
  background: @backgrounddark;
  color: #89b4fa;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  animation: gradient_f 20s ease-in infinite;
}

tooltip {
  background-color: @backgrounddark;
  opacity: 0.9;
  padding: 20px;
  margin: 0px;
}

tooltip label {
  color: @textcolor1;
}

#window {
  background: @backgrounddark;
  margin: 1px 0px 1px 30px;
  padding: 0px 10px;
  color: #a6adc8;
}

window#waybar.empty #window {
    background-color:transparent;
}

#idle_inhibitor {
  background: @backgrounddark;
  margin: 1px 0px 1px 10px;
  padding: 0px 10px;
  color: #94e2d5;
}

#tray {
  background-color: @backgrounddark;
  padding: 0px 10px;
  margin: 1px 10px 1px 0px;
}

#clock {
  background-color: @backgrounddark;
  color: #f9e2af;
  padding: 0px 10px;
  margin: 1px 2px 1px 0px;
}

#custom-power {
  background-color: @backgrounddark;
  color: #f38ba8;
  padding: 0px 7px 0px 10px;
  margin: 1px 0px 1px 2px;
}

#backlight {
  background-color: @backgrounddark;
  color: @textcolor1;
  padding: 0px 8.5px 0px 10px;
  margin: 1px 10px 1px 0px;
}

#pulseaudio {
  background-color: @backgrounddark;
  color:  #F5C2E7;
  padding: 0px 10px;
  margin: 1px 10px 1px 0px;
}

#battery {
  background-color: @backgrounddark;
  color:#A6E3A1;
  padding: 0px 10px;
  margin: 1px 10px 1px 0px;
}

