* {
	background-image: none;
	box-shadow: none;
  transition: 20ms;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
  border-radius: 20px;
  background-size: 45%;
	background-color: #282B31;
	background-repeat: no-repeat;
	background-position: center;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  margin-top: 100px;
  margin-bottom: 100px;
}

button:focus, button:active, button:hover {
	background-color: #61AFEF;
	outline-style: none;
}

#lock {
  background-image: url("/home/thorn/.config/wlogout/icons/lock.png");
}

#logout {
  background-image: url("/home/thorn/.config/wlogout/icons/logout.png");
}

#shutdown {
  background-image: url("/home/thorn/.config/wlogout/icons/shutdown.png");
}

#reboot {
  background-image: url("/home/thorn/.config/wlogout/icons/restart.png");
}

